@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/team.jpg');
  background-repeat: no-repeat;
  background-size: 700px;
  background-position-x: 420px;
  background-position-y: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.header h1 {
  color: #D2872C;
  font-size: 2.5em;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 500;
  margin-left: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 5%;
}

.main h2 {
  font-size: 4em;
  margin-bottom: 5%;
}

.main p {
  font-size: 1.6em;
  margin-bottom: 7%;
  width: 60%;
}

.main button {
  color: #F7F7F7;
  background-color: #D2872C;
  font-size: 2em;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  width: 50%;
  padding: 10px 0;
}

.main button:hover {
  cursor: pointer;
  background-color: #b36d18;
}

.nav-list a, .main h2, .main p {
  color: #766F68;
}
